<h1 align="center">{{ project_emoji }} {{ project_name }}</h1>
<p align="center">
  <i>{{ project_description }}</i>
</p>


<!-- Place https://shields.io/ badges here -->
{% if repository_provider == "GitHub" -%}
[![GitHub repo stars](https://img.shields.io/github/stars/{{ repository_username }}/{{ repository_name }})]({{ repository_url }})
{% if copyright_license == "MIT" -%}
[![License](https://img.shields.io/badge/license-MIT-green?logo=opensourceinitiative&logoColor=fff)]({{ repository_url }}/blob/main/LICENSE)
{% endif -%}
[![GitHub last commit (main)](https://img.shields.io/github/last-commit/{{ repository_username }}/{{ repository_name }}/main)]({{ repository_url }}/commits/main/)
[![GitHub release](https://img.shields.io/github/v/release/{{ repository_username }}/{{ repository_name }})]({{ repository_url }}/releases/latest)
[![GitHub commits since latest release](https://img.shields.io/github/commits-since/{{ repository_username }}/{{ repository_name }}/latest/main)]({{ repository_url }}/releases/latest)
{% endif -%}
{% if repository_provider == "GitLab" -%}
[![GitLab repo stars](https://img.shields.io/gitlab/stars/{{ repository_username }}/{{ repository_name }})]({{ repository_url }})
{% if copyright_license == "MIT" -%}
[![License](https://img.shields.io/badge/license-MIT-green?logo=opensourceinitiative&logoColor=fff)]({{ repository_url }}/blob/main/LICENSE)
{% endif -%}
[![GitLab last commit (main)](https://img.shields.io/gitlab/last-commit/{{ repository_username }}/{{ repository_name }}?ref=main)]({{ repository_url }}/commits/main/)
[![GitLab release](https://img.shields.io/gitlab/v/release/{{ repository_username }}/{{ repository_name }})]({{ repository_url }}/-/releases/permalink/latest)
{% endif %}

{% if warning_early_dev -%}
> [!WARNING]
> This project is in early development and may not work as expected.
{% endif %}

## Installation
<!-- How can this project be installed? -->
<!-- ```bash
howtoinstall
``` -->


## TODOS
- [ ] add {{repository_provider}} description
- [ ] add {{repository_provider}} topics
- [ ] update repository visibility
{% if repository_provider == "GitHub" -%}
- [ ] remove Packages/Deployments
- [ ] add GitHub social preview
- [ ] enable GitHub discussions
- [ ] pin repository to profile
- [ ] enable GitHub dependency graph
- [ ] enable GitHub Dependabot alerts
- [ ] enable GitHub private vulnerability reporting
- [ ] enable GitHub CodeQL scanning
- [ ] enable GitHub secret scanning
{% endif -%}
{% if repository_provider == "GitLab" -%}
- [ ] enable GitLab project avatar
{% endif %}

---
<p align="center">
  <i>© <a href="https://{{ repository_host if repository_provider == 'GitLab' else 'github.com' }}/{{ repository_username }}">{{ repository_username }}</a> {{ copyright_year_start if copyright_year_start == copyright_year_today else copyright_year_start ~ "-" ~ copyright_year_today }}</i>
{% if copyright_license == "MIT" %}  <br><i>Licensed under <a href="{{ repository_url }}/blob/main/LICENSE">MIT</a></i>{% endif %}
</p>
