<h1 align="center">{{project_emoji}} {{project_name}}</h1>
<p align="center">
  <i>{{project_description}}</i>
</p>

---
<p align="center">
  <i>© <a href="https://github.com/{{github_username}}">{{github_username}}</a> {{ copyright_year_start if copyright_year_start == copyright_year_today else copyright_year_start ~ "-" ~ copyright_year_today }}</i><br>
  <i>Licensed under <a href="https://github.com/{{github_repository_namespace}}/{{github_repository_name}}/blob/main/LICENSE">MIT</a></i><br>
</p>