<h1 align="center">{{project_emoji}} {{project_name}}</h1>
<p align="center">
  <i>{{project_description}}</i>
</p>

## Why
<!-- Write a short description of this project and why it might be helpful. Describe the idea behind it. -->

> **Warning**
> This project is in early development and may not work as expected.


## Installation
<!-- How can this project be installed? -->
<!-- ```bash
howtoinstall
``` -->


## TODOS
- [ ] add GitHub description
- [ ] add GitHub topics
- [ ] add GitHub social preview
- [ ] enable GitHub discussions
- [ ] enable GitHub dependency graph
- [ ] enable GitHub Dependabot alerts
- [ ] enable GitHub private vulnerability reporting
- [ ] enable GitHub CodeQL scanning
- [ ] enable GitHub secret scanning
- [ ] update GitHub repository visibility
- [ ] pin repository to profile

---
<p align="center">
  <i>© <a href="https://github.com/{{github_username}}">{{github_username}}</a> {{ copyright_year_start if copyright_year_start == copyright_year_today else copyright_year_start ~ "-" ~ copyright_year_today }}</i><br>
  <i>Licensed under <a href="https://github.com/{{github_repository_namespace}}/{{github_repository_name}}/blob/main/LICENSE">MIT</a></i><br>
</p>
